In [112]:
import pandas as pd
import csv
import numpy as np

In [113]:
pd.set_option('display.max_columns', None)

In [114]:
df = pd.read_csv('./loan_default_data_formatted.csv', on_bad_lines='warn')
df

C:\Users\Owner\AppData\Local\Temp\ipykernel_23472\2985796047.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./loan_default_data_formatted.csv', on_bad_lines='warn')

,Unnamed: 0,id,member_id,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,home_ownership,annual_income,verification_status,issue_date,loan_status,purpose,zip_code,address_state,debt_to_income_ratio,no_delinquency_2yrs,earliest_credit_line,inquiries_last_6mths,months_since_last_delinquency,no_open_accounts,public_records,revolving_balance,revolving_utillization,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail
0,0,2,2,0.0,0.0,0.00000,36 months,0.00,0.00,< 1 year,RENT,0.0,Not Verified,1999-12-01,Charged Off,major_purchase,000xx,ZZ,0.00,0.0,2001-01-01,0.0,NaN,0.0,0.0,0.0,0,1.0,0.000000,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1
1,1,545583,703644,2500.0,2500.0,2500.00000,36 months,13.98,85.42,4 years,RENT,20004.0,Not Verified,2010-07-01,Does not meet the credit policy. Status:Fully ...,other,487xx,MI,19.86,0.0,2005-08-01,5.0,NaN,7.0,0.0,981.0,0.213,10.0,3075.291779,3075.29,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0
2,2,532101,687836,5000.0,5000.0,5000.00000,36 months,15.95,175.67,4 years,RENT,59000.0,Not Verified,2010-06-01,Charged Off,debt_consolidation,115xx,NY,19.57,0.0,1994-04-01,1.0,59.0,7.0,0.0,18773.0,0.999,15.0,2948.760000,2948.76,1909.02,873.81,2011-11-01,175.67,NaN,2012-03-01,1
3,3,877788,1092507,7000.0,7000.0,7000.00000,36 months,9.91,225.58,10+ years,MORTGAGE,53796.0,Not Verified,2011-09-01,Fully Paid,other,751xx,TX,10.80,3.0,1998-03-01,3.0,3.0,7.0,0.0,3269.0,0.472,20.0,8082.391880,8082.39,7000.00,1082.39,2014-03-01,1550.27,NaN,2014-03-01,0
4,4,875406,1089981,2000.0,2000.0,2000.00000,36 months,5.42,60.32,10+ years,RENT,30000.0,Not Verified,2011-09-01,Fully Paid,debt_consolidation,112xx,NY,3.60,0.0,1975-01-01,0.0,72.0,7.0,0.0,0.0,0,15.0,2161.663244,2161.66,2000.00,161.66,2014-02-01,53.12,NaN,2016-06-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,38475,849205,1060907,3000.0,3000.0,3000.00000,36 months,11.99,99.63,3 years,RENT,74250.0,Verified,2011-08-01,Fully Paid,credit_card,805xx,CO,22.17,0.0,2000-01-01,2.0,NaN,12.0,0.0,16550.0,0.735,22.0,3586.619764,3586.62,3000.00,586.62,2014-08-01,100.30,NaN,2016-06-01,0
38476,38476,852914,1065048,10400.0,10400.0,10400.00000,36 months,13.49,352.88,9 years,RENT,62000.0,Source Verified,2011-08-01,Fully Paid,credit_card,442xx,OH,11.57,0.0,1999-04-01,1.0,NaN,21.0,0.0,16898.0,0.397,33.0,12703.534030,12703.53,10400.00,2303.53,2014-09-01,393.08,NaN,2016-06-01,0
38477,38477,519553,671637,16000.0,10550.0,10531.35818,60 months,14.96,250.77,10+ years,MORTGAGE,95088.0,Source Verified,2010-05-01,Fully Paid,debt_consolidation,073xx,NJ,10.63,0.0,1995-12-01,1.0,NaN,9.0,1.0,10386.0,0.622,25.0,14202.267530,14163.31,10550.00,3652.27,2013-06-01,5439.96,NaN,2016-02-01,0
38478,38478,825638,1034448,10000.0,10000.0,10000.00000,36 months,16.89,355.99,1 year,RENT,48720.0,Not Verified,2011-07-01,Fully Paid,debt_consolidation,061xx,CT,18.97,0.0,2007-07-01,2.0,NaN,8.0,0.0,7301.0,0.533,12.0,12815.178320,12815.18,10000.00,2815.18,2014-08-01,380.63,NaN,2015-09-01,0
38479,38479,1029847,1249126,3200.0,3200.0,3200.00000,36 months,13.49,108.58,7 years,RENT,38400.0,Source Verified,2011-11-01,Fully Paid,debt_consolidation,484xx,MI,12.56,0.0,1995-10-01,2.0,38.0,8.0,1.0,2503.0,0.626,18.0,3908.767275,3908.77,3200.00,708.77,2014-12-01,111.88,NaN,2014-11-01,0

In [115]:
# drop unnamed column
df = df.drop(df.columns[0], axis=1)
df

,id,member_id,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,home_ownership,annual_income,verification_status,issue_date,loan_status,purpose,zip_code,address_state,debt_to_income_ratio,no_delinquency_2yrs,earliest_credit_line,inquiries_last_6mths,months_since_last_delinquency,no_open_accounts,public_records,revolving_balance,revolving_utillization,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail
0,2,2,0.0,0.0,0.00000,36 months,0.00,0.00,< 1 year,RENT,0.0,Not Verified,1999-12-01,Charged Off,major_purchase,000xx,ZZ,0.00,0.0,2001-01-01,0.0,NaN,0.0,0.0,0.0,0,1.0,0.000000,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1
1,545583,703644,2500.0,2500.0,2500.00000,36 months,13.98,85.42,4 years,RENT,20004.0,Not Verified,2010-07-01,Does not meet the credit policy. Status:Fully ...,other,487xx,MI,19.86,0.0,2005-08-01,5.0,NaN,7.0,0.0,981.0,0.213,10.0,3075.291779,3075.29,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0
2,532101,687836,5000.0,5000.0,5000.00000,36 months,15.95,175.67,4 years,RENT,59000.0,Not Verified,2010-06-01,Charged Off,debt_consolidation,115xx,NY,19.57,0.0,1994-04-01,1.0,59.0,7.0,0.0,18773.0,0.999,15.0,2948.760000,2948.76,1909.02,873.81,2011-11-01,175.67,NaN,2012-03-01,1
3,877788,1092507,7000.0,7000.0,7000.00000,36 months,9.91,225.58,10+ years,MORTGAGE,53796.0,Not Verified,2011-09-01,Fully Paid,other,751xx,TX,10.80,3.0,1998-03-01,3.0,3.0,7.0,0.0,3269.0,0.472,20.0,8082.391880,8082.39,7000.00,1082.39,2014-03-01,1550.27,NaN,2014-03-01,0
4,875406,1089981,2000.0,2000.0,2000.00000,36 months,5.42,60.32,10+ years,RENT,30000.0,Not Verified,2011-09-01,Fully Paid,debt_consolidation,112xx,NY,3.60,0.0,1975-01-01,0.0,72.0,7.0,0.0,0.0,0,15.0,2161.663244,2161.66,2000.00,161.66,2014-02-01,53.12,NaN,2016-06-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,849205,1060907,3000.0,3000.0,3000.00000,36 months,11.99,99.63,3 years,RENT,74250.0,Verified,2011-08-01,Fully Paid,credit_card,805xx,CO,22.17,0.0,2000-01-01,2.0,NaN,12.0,0.0,16550.0,0.735,22.0,3586.619764,3586.62,3000.00,586.62,2014-08-01,100.30,NaN,2016-06-01,0
38476,852914,1065048,10400.0,10400.0,10400.00000,36 months,13.49,352.88,9 years,RENT,62000.0,Source Verified,2011-08-01,Fully Paid,credit_card,442xx,OH,11.57,0.0,1999-04-01,1.0,NaN,21.0,0.0,16898.0,0.397,33.0,12703.534030,12703.53,10400.00,2303.53,2014-09-01,393.08,NaN,2016-06-01,0
38477,519553,671637,16000.0,10550.0,10531.35818,60 months,14.96,250.77,10+ years,MORTGAGE,95088.0,Source Verified,2010-05-01,Fully Paid,debt_consolidation,073xx,NJ,10.63,0.0,1995-12-01,1.0,NaN,9.0,1.0,10386.0,0.622,25.0,14202.267530,14163.31,10550.00,3652.27,2013-06-01,5439.96,NaN,2016-02-01,0
38478,825638,1034448,10000.0,10000.0,10000.00000,36 months,16.89,355.99,1 year,RENT,48720.0,Not Verified,2011-07-01,Fully Paid,debt_consolidation,061xx,CT,18.97,0.0,2007-07-01,2.0,NaN,8.0,0.0,7301.0,0.533,12.0,12815.178320,12815.18,10000.00,2815.18,2014-08-01,380.63,NaN,2015-09-01,0
38479,1029847,1249126,3200.0,3200.0,3200.00000,36 months,13.49,108.58,7 years,RENT,38400.0,Source Verified,2011-11-01,Fully Paid,debt_consolidation,484xx,MI,12.56,0.0,1995-10-01,2.0,38.0,8.0,1.0,2503.0,0.626,18.0,3908.767275,3908.77,3200.00,708.77,2014-12-01,111.88,NaN,2014-11-01,0

In [116]:
# copy to new df
loan_df = df.copy()
loan_df

,id,member_id,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,home_ownership,annual_income,verification_status,issue_date,loan_status,purpose,zip_code,address_state,debt_to_income_ratio,no_delinquency_2yrs,earliest_credit_line,inquiries_last_6mths,months_since_last_delinquency,no_open_accounts,public_records,revolving_balance,revolving_utillization,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,next_payment_date,last_credit_pull_date,repay_fail
0,2,2,0.0,0.0,0.00000,36 months,0.00,0.00,< 1 year,RENT,0.0,Not Verified,1999-12-01,Charged Off,major_purchase,000xx,ZZ,0.00,0.0,2001-01-01,0.0,NaN,0.0,0.0,0.0,0,1.0,0.000000,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,2007-01-01,1
1,545583,703644,2500.0,2500.0,2500.00000,36 months,13.98,85.42,4 years,RENT,20004.0,Not Verified,2010-07-01,Does not meet the credit policy. Status:Fully ...,other,487xx,MI,19.86,0.0,2005-08-01,5.0,NaN,7.0,0.0,981.0,0.213,10.0,3075.291779,3075.29,2500.00,575.29,2013-07-01,90.85,2013-08-01,2016-06-01,0
2,532101,687836,5000.0,5000.0,5000.00000,36 months,15.95,175.67,4 years,RENT,59000.0,Not Verified,2010-06-01,Charged Off,debt_consolidation,115xx,NY,19.57,0.0,1994-04-01,1.0,59.0,7.0,0.0,18773.0,0.999,15.0,2948.760000,2948.76,1909.02,873.81,2011-11-01,175.67,NaN,2012-03-01,1
3,877788,1092507,7000.0,7000.0,7000.00000,36 months,9.91,225.58,10+ years,MORTGAGE,53796.0,Not Verified,2011-09-01,Fully Paid,other,751xx,TX,10.80,3.0,1998-03-01,3.0,3.0,7.0,0.0,3269.0,0.472,20.0,8082.391880,8082.39,7000.00,1082.39,2014-03-01,1550.27,NaN,2014-03-01,0
4,875406,1089981,2000.0,2000.0,2000.00000,36 months,5.42,60.32,10+ years,RENT,30000.0,Not Verified,2011-09-01,Fully Paid,debt_consolidation,112xx,NY,3.60,0.0,1975-01-01,0.0,72.0,7.0,0.0,0.0,0,15.0,2161.663244,2161.66,2000.00,161.66,2014-02-01,53.12,NaN,2016-06-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,849205,1060907,3000.0,3000.0,3000.00000,36 months,11.99,99.63,3 years,RENT,74250.0,Verified,2011-08-01,Fully Paid,credit_card,805xx,CO,22.17,0.0,2000-01-01,2.0,NaN,12.0,0.0,16550.0,0.735,22.0,3586.619764,3586.62,3000.00,586.62,2014-08-01,100.30,NaN,2016-06-01,0
38476,852914,1065048,10400.0,10400.0,10400.00000,36 months,13.49,352.88,9 years,RENT,62000.0,Source Verified,2011-08-01,Fully Paid,credit_card,442xx,OH,11.57,0.0,1999-04-01,1.0,NaN,21.0,0.0,16898.0,0.397,33.0,12703.534030,12703.53,10400.00,2303.53,2014-09-01,393.08,NaN,2016-06-01,0
38477,519553,671637,16000.0,10550.0,10531.35818,60 months,14.96,250.77,10+ years,MORTGAGE,95088.0,Source Verified,2010-05-01,Fully Paid,debt_consolidation,073xx,NJ,10.63,0.0,1995-12-01,1.0,NaN,9.0,1.0,10386.0,0.622,25.0,14202.267530,14163.31,10550.00,3652.27,2013-06-01,5439.96,NaN,2016-02-01,0
38478,825638,1034448,10000.0,10000.0,10000.00000,36 months,16.89,355.99,1 year,RENT,48720.0,Not Verified,2011-07-01,Fully Paid,debt_consolidation,061xx,CT,18.97,0.0,2007-07-01,2.0,NaN,8.0,0.0,7301.0,0.533,12.0,12815.178320,12815.18,10000.00,2815.18,2014-08-01,380.63,NaN,2015-09-01,0
38479,1029847,1249126,3200.0,3200.0,3200.00000,36 months,13.49,108.58,7 years,RENT,38400.0,Source Verified,2011-11-01,Fully Paid,debt_consolidation,484xx,MI,12.56,0.0,1995-10-01,2.0,38.0,8.0,1.0,2503.0,0.626,18.0,3908.767275,3908.77,3200.00,708.77,2014-12-01,111.88,NaN,2014-11-01,0

In [117]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38480 entries, 0 to 38479
Data columns (total 36 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             38480 non-null  int64
 1   member_id                      38480 non-null  int64
 2   loan_amount                    38479 non-null  float64
 3   funded_amount                  38479 non-null  float64
 4   funded_amount_investors        38479 non-null  float64
 5   term                           38480 non-null  object
 6   interest_rate                  38480 non-null  float64
 7   installment                    38479 non-null  float64
 8   employment_length              37487 non-null  object
 9   home_ownership                 38480 non-null  object
 10  annual_income                  38478 non-null  float64
 11  verification_status            38480 non-null  object
 12  issue_date                     38480 non-null  object
 13  loan_status                    38480 non-null  object
 14  purpose                        38480 non-null  object
 15  zip_code                       38480 non-null  object
 16  address_state                  38480 non-null  object
 17  debt_to_income_ratio           38480 non-null  float64
 18  no_delinquency_2yrs            38479 non-null  float64
 19  earliest_credit_line           38480 non-null  object
 20  inquiries_last_6mths           38479 non-null  float64
 21  months_since_last_delinquency  14117 non-null  float64
 22  no_open_accounts               38479 non-null  float64
 23  public_records                 38479 non-null  float64
 24  revolving_balance              38476 non-null  float64
 25  revolving_utillization         38421 non-null  object
 26  no_total_account               38479 non-null  float64
 27  total_payment                  38479 non-null  float64
 28  total_payment_investors        38479 non-null  float64
 29  total_received_principal       38479 non-null  float64
 30  total_received_interest        38479 non-null  float64
 31  last_payment_date              38409 non-null  object
 32  last_payment_amnt              38479 non-null  float64
 33  next_payment_date              3383 non-null   object
 34  last_credit_pull_date          38477 non-null  object
 35  repay_fail                     38480 non-null  int64
dtypes: float64(19), int64(3), object(14)
memory usage: 10.6+ MB

In [118]:
# list out the quantity of null values in each column
for col in loan_df.columns:
    print(f"Column '{col}': {loan_df[col].isnull().sum()}")

Column 'id': 0
Column 'member_id': 0
Column 'loan_amount': 1
Column 'funded_amount': 1
Column 'funded_amount_investors': 1
Column 'term': 0
Column 'interest_rate': 0
Column 'installment': 1
Column 'employment_length': 993
Column 'home_ownership': 0
Column 'annual_income': 2
Column 'verification_status': 0
Column 'issue_date': 0
Column 'loan_status': 0
Column 'purpose': 0
Column 'zip_code': 0
Column 'address_state': 0
Column 'debt_to_income_ratio': 0
Column 'no_delinquency_2yrs': 1
Column 'earliest_credit_line': 0
Column 'inquiries_last_6mths': 1
Column 'months_since_last_delinquency': 24363
Column 'no_open_accounts': 1
Column 'public_records': 1
Column 'revolving_balance': 4
Column 'revolving_utillization': 59
Column 'no_total_account': 1
Column 'total_payment': 1
Column 'total_payment_investors': 1
Column 'total_received_principal': 1
Column 'total_received_interest': 1
Column 'last_payment_date': 71
Column 'last_payment_amnt': 1
Column 'next_payment_date': 35097
Column 'last_credit_pull_date': 3
Column 'repay_fail': 0

In [119]:
# display and drop rows with no values
# display and drop rows with values less than 80% 

total_row = len(loan_df)
more_than_80_percent = (total_row * 80)/100

for col in loan_df.columns:
    col_value = loan_df[col].isnull().sum()
    if col_value == total_row:
        loan_df= loan_df.drop([col], axis=1)
        print("Column with no values: ", col)
    elif col_value > more_than_80_percent:
        print("Column with values less than half: ", col)
        loan_df= loan_df.drop([col], axis=1)

Column with values less than half:  next_payment_date

In [120]:
# display rows with only missing values
for col in loan_df.columns:
    sum_null = loan_df[col].isnull().sum()
    # print(sum_null)
    if sum_null > 0:
        print(f"Column '{col}': {loan_df[col].isnull().sum()}")

Column 'loan_amount': 1
Column 'funded_amount': 1
Column 'funded_amount_investors': 1
Column 'installment': 1
Column 'employment_length': 993
Column 'annual_income': 2
Column 'no_delinquency_2yrs': 1
Column 'inquiries_last_6mths': 1
Column 'months_since_last_delinquency': 24363
Column 'no_open_accounts': 1
Column 'public_records': 1
Column 'revolving_balance': 4
Column 'revolving_utillization': 59
Column 'no_total_account': 1
Column 'total_payment': 1
Column 'total_payment_investors': 1
Column 'total_received_principal': 1
Column 'total_received_interest': 1
Column 'last_payment_date': 71
Column 'last_payment_amnt': 1
Column 'last_credit_pull_date': 3

In [121]:
# drop rows in columns that has less than 10% missing values
total_row = len(loan_df)
threshold = (total_row * 10)/100

print(threshold)
for col in loan_df.columns:
    sum_null = loan_df[col].isnull().sum()
    # print(sum_null)
    if sum_null <= threshold:
        print(f"Column '{col}': {loan_df[col].isnull().sum()}")
        loan_df = loan_df.dropna(subset=[col])

3848.0
Column 'id': 0
Column 'member_id': 0
Column 'loan_amount': 1
Column 'funded_amount': 0
Column 'funded_amount_investors': 0
Column 'term': 0
Column 'interest_rate': 0
Column 'installment': 0
Column 'employment_length': 993
Column 'home_ownership': 0
Column 'annual_income': 1
Column 'verification_status': 0
Column 'issue_date': 0
Column 'loan_status': 0
Column 'purpose': 0
Column 'zip_code': 0
Column 'address_state': 0
Column 'debt_to_income_ratio': 0
Column 'no_delinquency_2yrs': 0
Column 'earliest_credit_line': 0
Column 'inquiries_last_6mths': 0
Column 'no_open_accounts': 0
Column 'public_records': 0
Column 'revolving_balance': 3
Column 'revolving_utillization': 56
Column 'no_total_account': 0
Column 'total_payment': 0
Column 'total_payment_investors': 0
Column 'total_received_principal': 0
Column 'total_received_interest': 0
Column 'last_payment_date': 64
Column 'last_payment_amnt': 0
Column 'last_credit_pull_date': 3
Column 'repay_fail': 0

Handle missing values

In [122]:
for col in loan_df.columns:
    sum_null = loan_df[col].isnull().sum()
    # print(sum_null)
    if sum_null > 0:
        print(f"Column '{col}': {loan_df[col].isnull().sum()}")

Column 'months_since_last_delinquency': 23602

In [123]:
loan_df['months_since_last_delinquency'].value_counts()

months_since_last_delinquency
0.0      739
30.0     242
19.0     236
15.0     233
18.0     230
        ...
96.0       1
120.0      1
89.0       1
95.0       1
106.0      1
Name: count, Length: 93, dtype: int64

In [124]:
# months since last deliquency - a situation where a borrower is late or overdue on a payment
# assume that the null values means that the borrower is never late
# replace missing value with category 'not available'

values = 'NOT AVAILABLE'
loan_df['months_since_last_delinquency'] = loan_df['months_since_last_delinquency'].fillna(value = values)
print(loan_df['months_since_last_delinquency'].value_counts())

months_since_last_delinquency
NOT AVAILABLE    23602
0.0                739
30.0               242
19.0               236
15.0               233
                 ...
96.0                 1
120.0                1
89.0                 1
95.0                 1
106.0                1
Name: count, Length: 94, dtype: int64

In [125]:
loan_df.head()

,id,member_id,loan_amount,funded_amount,funded_amount_investors,term,interest_rate,installment,employment_length,home_ownership,annual_income,verification_status,issue_date,loan_status,purpose,zip_code,address_state,debt_to_income_ratio,no_delinquency_2yrs,earliest_credit_line,inquiries_last_6mths,months_since_last_delinquency,no_open_accounts,public_records,revolving_balance,revolving_utillization,no_total_account,total_payment,total_payment_investors,total_received_principal,total_received_interest,last_payment_date,last_payment_amnt,last_credit_pull_date,repay_fail
0,2,2,0.0,0.0,0.0,36 months,0.00,0.00,< 1 year,RENT,0.0,Not Verified,1999-12-01,Charged Off,major_purchase,000xx,ZZ,0.00,0.0,2001-01-01,0.0,NOT AVAILABLE,0.0,0.0,0.0,0,1.0,0.000000,0.00,0.00,0.00,2007-01-01,0.00,2007-01-01,1
1,545583,703644,2500.0,2500.0,2500.0,36 months,13.98,85.42,4 years,RENT,20004.0,Not Verified,2010-07-01,Does not meet the credit policy. Status:Fully ...,other,487xx,MI,19.86,0.0,2005-08-01,5.0,NOT AVAILABLE,7.0,0.0,981.0,0.213,10.0,3075.291779,3075.29,2500.00,575.29,2013-07-01,90.85,2016-06-01,0
2,532101,687836,5000.0,5000.0,5000.0,36 months,15.95,175.67,4 years,RENT,59000.0,Not Verified,2010-06-01,Charged Off,debt_consolidation,115xx,NY,19.57,0.0,1994-04-01,1.0,59.0,7.0,0.0,18773.0,0.999,15.0,2948.760000,2948.76,1909.02,873.81,2011-11-01,175.67,2012-03-01,1
3,877788,1092507,7000.0,7000.0,7000.0,36 months,9.91,225.58,10+ years,MORTGAGE,53796.0,Not Verified,2011-09-01,Fully Paid,other,751xx,TX,10.80,3.0,1998-03-01,3.0,3.0,7.0,0.0,3269.0,0.472,20.0,8082.391880,8082.39,7000.00,1082.39,2014-03-01,1550.27,2014-03-01,0
4,875406,1089981,2000.0,2000.0,2000.0,36 months,5.42,60.32,10+ years,RENT,30000.0,Not Verified,2011-09-01,Fully Paid,debt_consolidation,112xx,NY,3.60,0.0,1975-01-01,0.0,72.0,7.0,0.0,0.0,0,15.0,2161.663244,2161.66,2000.00,161.66,2014-02-01,53.12,2016-06-01,0

In [126]:
# save changes to csv
loan_df.to_csv('loan_default_cleaned.csv')